.header {
  display: flex;
  gap: 20px;
  background-image: linear-gradient(to right,#ef4444, #f59e0b);
  height: 40px;
  align-items: center;
}

.header__item {
  font-size: 20px;
  color: #000;
  font-weight: bold;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post__name {
  font-size: 20px;
  padding: 10px 0;
  cursor: pointer;
}

.loader {
  width: 48px;
  height: 48px;
  border:10px solid #f59e0b;
  border-radius: 50%;
  position: relative;
  transform:rotate(45deg);
  box-sizing: border-box;
}

.loader::before {
  content: "";
  position: absolute;
  box-sizing: border-box;
  inset:-10px;
  border-radius: 50%;
  border:10px solid #FF3D00;
  animation: prixClipFix 2s infinite linear;
}

@keyframes prixClipFix {
    0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
    25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
    50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
    75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)}
    100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)}
}